nav.navbar 
    div.brand Secure by Design
    div.navbar-links 
        ul  
            li  
                a(href="/") Home
            li  
                a(href="/dealinfo") Screener Questions 
            li  
                a(href="/analytics") Analytics 
            li  
                a(href="/reference") Reference                     