nav.navbar 
    div.brand Secure By Design
    div.navbar-links 
        ul  
            li  
                a(href="#") Home
            li  
                a(href="#") Screener Questions 
            li  
                a(href="#") Analytics 
            li  
                a(href="#") Reference                     