doctype html 
html 
    head
        title Secure by Design ::: Home
        link(rel="stylesheet" href="/style.css")
    body 
        include _header.pug
        div.description-container 
            p.description-content Secure By Design is an organization wide initiative that aims to ensure that Cyber Security requirements are considered and appropriately embedded right from the very beginning and not hastily set up or worse, called upon in some unforeseen security incident. This helps build a strong brand and also helps to guide clients in embracing a mature approach that ensures greater resilience to cyber attacks. 
            p.description-content It is with this aim that this initiative provides an overarching structure to evaluate every new opportunity or deal with an eye towards providing a secure platform of operation. Critically important basic security controls for different industries and service lines have been identified and collated. At the start of any new deal or responding to a client RFP, the framework is leveraged to identify if any security scope might be there #{'(knowingly or unknowingly)'}.

        .card-container
            each card, index in landingPage
                - let heading = card.heading
                - let imghref = card.imghref
                - let imgLocation = card.imgLocation
                - let description = card.description 
                - let pagehref = card.pagehref 
                - let linkDesc = card.linkDesc 
                .card-box
                    .card-heading #{heading}
                    .card-image 
                        a(href= imghref) 
                            img(src= imgLocation)
                    .card-description 
                        .p= description 
                    .card-link 
                        a(href= pagehref) #{linkDesc}
