doctype html 
html 
    head
        title Home Page
        link(rel="stylesheet" href="/style.css")
    head 
    body 
        div.introduction Welcome to the Main Page #{name}

        div.body. 
            This is an attempt to learn about PUG templating Engine.
            And also to understand how form data can be displayed. 

        a(href='/formdata') FormData
