doctype html 
html 
    head
        title Secure by Design ::: Reference
        link(rel="stylesheet" href="/style.css")
    body 
        include _header.pug
        div.description-container 
            p.description-content Secure By Design is an organization wide initiative that aims to ensure that Cyber Security requirements are considered and appropriately embedded right from the very beginning and not hastily set up or worse, called upon in some unforeseen security incident. This helps build a strong brand and also helps to guide clients in embracing a mature approach that ensures greater resilience to cyber attacks. 
            p.description-content Please follow below link to access all referece documents related to Secure by Design framework. You should have access to SharePoint to access the documents and reach out to SbD team, in case of any queries.

        .reference-container
            .reference-image 
                a(href="https://infosystechnologies.sharepoint.com/:f:/r/sites/SbDRepository/Shared%20Documents/General?csf=1&web=1&e=CJcxYc" target="_blank") 
                    img(src="./icons/reference.png" width="4%" height="4%")
                br
                a(href="https://infosystechnologies.sharepoint.com/:f:/r/sites/SbDRepository/Shared%20Documents/General?csf=1&web=1&e=CJcxYc" target="_blank") Secure by Design Reference Documents
