doctype html 
html 
    head
        title Secure by Design ::: Reference
        link(rel="stylesheet" href="/style.css")
    body 
        include _header.pug
        div.description-container 
            p.description-content Secure By Design framework will support service lines in identifying cyber security scope for a new deal and to arrive at the shared responsibility model. The major reference documents associated with the framework are the overview deck and the framework developed based on joint discussion with the service lines, which are organized in SharePoint. 
            p.description-content Please follow below link to access all referece documents related to Secure by Design framework. You should have access to SharePoint to access the documents and reach out to SbD team, in case of any queries.

        .reference-container 
                a(href="https://infosystechnologies.sharepoint.com/:f:/r/sites/SbDRepository/Shared%20Documents/General?csf=1&web=1&e=CJcxYc" target="_blank") 
                    img(src="./icons/reference.png" width="4%" height="4%")
                br
                a(href="https://infosystechnologies.sharepoint.com/:f:/r/sites/SbDRepository/Shared%20Documents/General?csf=1&web=1&e=CJcxYc" target="_blank") Secure by Design Reference Documents
