body {
	font-family: Verdana;
	text-align: center;
	margin: 0;
	background-color: rgb(239, 243, 232);
}

.question {
	margin: 20px;
	padding: 10px;
	border-radius: 20px;
	text-align: left;
	background-color: rgb(231, 231, 247);
	/*box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);*/
}

.response {
	margin: 10px;
	padding: 5px;
	background-color: rgb(179, 242, 207);
	border-radius: 20px;
	border: solid rgb(86, 139, 5);
	max-width: 115px;
	text-align: center;
}

ul {
	margin: 5px;
	padding: 2px;
	list-style-type: circle;
}

.activities {
	margin: 10px;
	border: solid rgb(86, 139, 5);
	padding: 10px;
	border-radius: 20px;
	padding-left: 20px;
	background-color: rgb(238, 241, 195);
}

.container {
	/*border: solid;*/
	text-align: center;
	margin: auto; 
	margin-top: 30px;
	margin-bottom: 20px;
	background-color: rgb(163, 163, 247); 
	border-radius: 20px; 
	max-width: 80%;
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

/*.card[data-active] {
	opacity: 1;
	z-index: 1;
	transition-delay: Oms;
	display:block;
}*/

.card {
	border-radius: 20px;
	padding: 10px;
}

.heading {
	font-style: normal;
	font-weight: bold;
	font-size: 110%;
	margin: 10px;
}

.carousel-button {
	position: absolute;
	border: none;
	font-size: 3rem;
	top: 40%;
	color: rgba(255, 255, 255, .5);
	cursor: pointer;
	border-radius: .20rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, .1);
}

.carousel-button:hover, 
.carousel-button:focus {
	color: white;
	background-color: rgba(0, 0, 0, .2);
}

.carousel-button:focus { 
	outline: 1px 
	solid black;
}

.carousel-button.prev{
	left: 1rem;
}

.carousel-button.next {
	right: 1rem;
}

.form-reset {
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	background-color: rgb(241, 124, 81);
	border: 2px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 1.3rem;
	cursor: pointer;
	margin-top: 5px; margin-bottom: 10px;
	margin-right: 10px;
}

.form-reset:hover {
	color: rgb(255, 251, 251); 
	background-color: rgb(15, 15, 140);
}

.form-submit {
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5); 
	border: 2px solid black; 
	border-radius: 10px; 
	text-align: center;
	font-size: 1.3rem;
	color: black;
	background-color: #05c46b;
	cursor: pointer;
	margin-top: 5px; margin-bottom: 10px;
}

.form-submit:hover { 
	color: rgb(255, 251, 251); 
	background-color: rgb(15, 15, 140);
}

.form-submit:disabled {
	color: rgb(3, 2, 0); 
	background-color: rgb(192, 190, 190);
} 

.actheading {
	font-weight: bold; 
	text-decoration: underline;
	color:brown;
	font-size: 95%;
}

/*.form-control {
	text-align: left; 
	margin-bottom: 10px; 
	display: block;
}

.form-control input, 
.form-control textarea { 
	border: 2px solid #777; 
	border-radius: 10px; 
	font-family: inherit; 
	padding: 10px; 
	width: 95%; 
}

.dealcontainer {
	margin: auto;
	margin-top: 15px;
	max-width: 60%;
	border: solid;
	border-radius: 20px;  
	padding: 20px 20px; 
	background-color: rgb(163, 163, 247); 
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}*/

.dealcontainer {
	font-family: "Roboto", arial, sans-serif;
	color: #fefefe;
	border-style: solid;
	border-width: 5px;
	border-color: rgb(254, 254, 254);
	border-radius: 10px 10px 10px 10px;
	background-image: -moz-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
	background-image: -webkit-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
	background-image: -ms-linear-gradient( -90deg, rgb(236, 111, 102) 0%, rgb(243, 161, 131) 100%);
	box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
	width: 90%;
	min-width: 400px;
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
}

.dealcontainer .input-container {
	margin: 10px;
}

.dealcontainer input,
.dealcontainer textarea
{
		font-weight: 700;
		font-size: 0.9em;
		padding: 10px;
		border-width: 2px;
		border-color: rgba(5, 0, 0, 0.3);
		border-style: solid;
		border-radius: 20px;
}
