div {
    border: 5px solid black;
    color: black;
    text-align: center;
}

body {
    margin-top: 0;
    background-color: rgb(227, 248, 185);
    
}

a {
    margin-top: 10px;
    position:absolute;
    bottom: 50px;
    text-align: center;
}
.ques {
    display:inline;
}
