* {
    box-sizing: border-box;
    font-family: Verdana;
}

body {
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
    position:relative; 
    justify-content: space-between;
    align-items: center;
    background-color: rgb(141, 11, 167);
    color: white;
}

.brand {
    text-decoration: none;
    font-size: 1.5rem;
    margin: .5rem; 
    font-weight: bold;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white; 
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: rgb(154, 106, 163);
}

.description-container {
    width: 82%;
    border-style:double;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    background-color: bisque;
    
}

.card-container {
    display: flex;
    background-color: rgb(237, 248, 229);
    margin-top: 20px;    
}

.card-box {
    max-width: 30%;
    max-height: 30%;
    justify-content: space-around;
    font-size: .7rem;
    border-style: solid;
    text-align: center;
    margin: 10px 20px 10px 20px;
    background-color: rgb(218, 218, 245);
}

.card-image > a > img {
    object-fit: contain;
    width: 30%;
    height:30%;
    /* border-style: dotted; */
    margin:10px;
}

.card-description {
    text-align: center;
    /* border-style: solid; */
    border-width: 2px;
    background-color: rgb(157, 152, 167);
    font-size: .65rem;
    margin-bottom: 7px;
}

.card-link > a {
    font-weight: bold; 
    font-size: .70rem;
    color:rgb(8, 8, 8)
}

.card-link {
    margin: 5px;
}
 
.card-heading {
    font-weight: bold;
    font-size: medium;
}

.card-image > a > img:hover {
    transition: transform .2s;
    transform: scale(1.1);
}

.card-link > a:hover {
    background-color: rgb(156, 240, 160);
}

.reference-container {
    background-color: rgb(221, 238, 208);
    text-decoration: none;
    margin-top: 20px;  
    text-align: center;  
    font-weight: bold;
}

table {
    width: 45%;
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 30px;
    font-size: .9rem;
}

.table-heading > .item {
    width: 40%;
}

.table-data > td > ul {
    padding-left: 0px; 
    margin: 0px; 
}

.submit-page-data-container {
    margin: 30px; 
    font-size: 1.1rem;
    text-align: center;
}